<div class="content shadow-sm me-2" style="height: fit-content;">
    <div class="row p-2 fs-5 border-bottom bg-white">
        <a href="/admin/dashboard" id="category" class="adminnav">Dashboard</a>
        
    </div>
    <div class="row p-2 fs-5 border-bottom bg-white">
        <a href="/admin/products" id="product" class="adminnav">Products</a>
    </div>
    <div class="row p-2 fs-5 border-bottom bg-white">
        <a href="/admin/category" id="category" class="adminnav">Categories</a>
    </div>
    <div class="row p-2 fs-5 border-bottom bg-white">
        <a href="/admin/order" id="orders" class="adminnav">Orders</a>
    </div>
    <div class="row p-2 fs-5 bg-white">
        <a href="/logout" id="product" class="adminnav text-secondary">Logout</a>
    </div>
</div>