<footer class="footer mt-auto ">
    <div class="text-white" style="background-color: #0255CF;">
        <div class="container d-flex p-3">
            <div class="mx-auto">&copy; 2022 EasyShop. All Rights Reserved</div>
        </div>
    </div>
    
</footer>