<nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white sticky-top border-bottom border-primary">
    <div class="container">
      <a class="navbar-brand text-primary" href="/">EasyShop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-dark" aria-current="page" href="/">Home</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currentUser) { %> 
            <a class="nav-link text-dark" href="/login">Login</a>
            <% } else { %>
              <!-- <a class="nav-link text-dark" href="/logout">Logout</a> -->
              <% if(isAdmin) { %>
                <a class="nav-link text-dark" href="/admin/dashboard">My Account</a>
                <% }else { %>
                  <a class="nav-link text-dark" href="/user/dashboard">My Account</a>
                  <% } %>   
              <% } %>  
            <a class="nav-link text-dark" class="btn position-relative" href="/checkout/cart" >
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
              <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
            </svg><span class="position-relative top-10 start-10 translate-middle badge rounded-circle bg-primary text-white">
              <%= cartDetails.totalItems %>
              <span class="visually-hidden">unread messages</span>
            </span></a>
        </div>
      </div>
    </div>
  </nav>